<footer>
  <div class="footer-container">
      <div class="footer-column">
          <h3>Quick links</h3>
          <ul>
              <li><a href="/help/orderDeliverInformation" >Delivery Information</a></li>
              <li><a href="/help/myAccount" >My Account</a></li>
              <li><a href="/help/payments" >Payment options</a></li>
              <li><a href="/help/returns" >Returns</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>Info</h3>
          <ul>
              <li><a href="/contact" >About Us</a></li>
              <li><a href="/offer" >Offer Details</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>Contact Us</h3>
          <ul>
              <li><i class="fa-solid fa-envelope"></i><a href="mailto:info@gmail.com">Write your query</a></li>
              <li><i class="fa-solid fa-phone"></i><a href="tel:+9156245236658">+91 56245236658</a></li>
          </ul>
      </div>
      <div class="vertical-line"></div>

      <!-- New Section -->
      <div class="footer-section connect-section">
          <h3>Connect with Us</h3>
          <img src="../images/qr_code.png" alt="QR Code" class="qr-code">
      </div>
  </div>
  <div class="footer-bottom">
      <p>&copy; 2024 limited. All rights reserved.</p>
      <p>
          <a>Terms & Conditions</a> | <a>Privacy Policy</a> |
          <a>Disclaimer</a>
      </p>

      <div class="payment-icons">
          <img src="../images/visa.png" alt="Visa" />
          <img src="../images/mastercard.png" alt="Mastercard" />
          <img src="../images/paypal.png" alt="Paypal" />


      </div>
  </div>
</footer>



</body>
</html>
  