<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Jewelry Store</title>
  <link rel="stylesheet" href="../..//stylesheets/styles.css">
  <link rel="stylesheet" href="../..//stylesheets/header_styles.css">
  <link rel="stylesheet" href="../../stylesheets/footer_styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

  <style>
    .section {
  display: none;
}

#best-seller {
  display: block; /* Always show best-seller section */
}

  </style>
  

</head>
<body>
  <%- include('navbar') %>
