JWT_SECRET=kcCollection
CLIENT_URL=http://localhost:4005

# MongoDB connection string
MONGO_URI=mongodb+srv://vivekkumarprince2:Prince1%40@cluster0.4tr5g.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# JWT_SECRET=your_jwt_secret

EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password


SHIPROCKET_EMAIL=vivekkumarprince3@gmail.com
SHIPROCKET_PASSWORD=Prince1@

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_SECRET=your_razorpay_secret